.current {
  color: #852c2c;
  background: rgba(32, 32, 32, 0.2);
}

.color-red {
  color: #852c2c;
}

.btn {
  display: inline-block;
  padding: .8rem 2rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.btn--dark {
  background: #333;
  color: #eee;
}

.btn--light {
  background: #eee;
  color: #333;
}

.btn:hover {
  color: #852c2c;
}

.heading {
  padding-bottom: 20px;
}

.heading--primary {
  font-size: 6rem;
}

.heading--secondary {
  font-size: 3rem;
}

.heading--tertiary {
  font-size: 2.5rem;
}

.paragraph {
  font-size: 1.6rem;
  margin: 10px 0;
}

.logo {
  color: #852c2c;
}

.nav {
  background: #333;
  overflow: auto;
}

.nav-content {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  display: block;
  padding: 15px;
  margin-left: -5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.nav__link:hover {
  color: #852c2c;
  background: rgba(32, 32, 32, 0.2);
}

.showcase {
  background: url("../src/img/bgc-gym.jpg") no-repeat center center/cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase-content {
  color: #eee;
  text-align: center;
}

.showcase__desc {
  padding: 20px 0;
  line-height: 1.7em;
}

.home {
  background: #333;
  color: #eee;
  margin: 5rem 0;
}

.home-content {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  padding: 5rem;
}

.home__img {
  background: url("../src/img/img-gym2.jpg") no-repeat center center/cover;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  height: auto;
  border-radius: 3px;
}

.home__info {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .info__desc {
  margin-bottom: 3rem;
}

.offer {
  margin: 5rem 0;
}

.offer-content {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box {
  border-radius: 0 20px 0 20px;
  background: #eee;
  color: #333;
  margin: 0 2rem;
  padding: 2rem;
  text-align: center;
}

.box:nth-child(2) {
  background: #852c2c;
  color: #333;
}

.box span {
  display: block;
  margin: 2rem 0;
}

.about {
  background: #eee;
  color: #333;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.info-left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.info-right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-right img {
  display: block;
  width: 80%;
  border-radius: 5px;
}

.trainers {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.514)), to(rgba(0, 0, 0, 0.548))), url("../src/img/bgc-gym3.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.548)), url("../src/img/bgc-gym3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem;
}

.trainers-content {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
}

.trainers h2 {
  text-align: center;
  color: #eee;
}

.trainer {
  background: #852c2c;
  color: #333;
  border-radius: 0 20px 0 20px;
  background: rgba(161, 156, 156, 0.1);
  margin: 4rem 0;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainer img {
  display: block;
  margin-right: 2rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.trainer p {
  color: #000;
}

.contact-form {
  background: #eee;
  color: #333;
  padding: 5rem;
}

.contact-form .form-container {
  max-width: 800px;
  margin: 0 auto;
}

.contact-form .form-group {
  margin: 2rem 0;
}

.contact-form .form label {
  display: block;
  margin-bottom: .5rem;
}

.contact-form .form input,
.contact-form .form textarea {
  width: 100%;
  padding: .5rem;
  color: #555;
  border: 1px solid #eee;
  outline: none;
}

.contact-form .form textarea {
  height: 200px;
}

.contact-form .form input:focus,
.contact-form .form textarea:focus {
  border-color: rgba(133, 44, 44, 0.2);
}

.contact-form .form ::-webkit-input-placeholder {
  color: #852c2c;
}

.contact-form .form :-ms-input-placeholder {
  color: #852c2c;
}

.contact-form .form ::-ms-input-placeholder {
  color: #852c2c;
}

.contact-form .form ::placeholder {
  color: #852c2c;
}

.contact-info {
  background: #333;
  color: #eee;
  padding: 5rem;
}

.contact-info .info-content {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info .info-content > * {
  text-align: center;
}

.main-footer {
  background: #333;
  color: #eee;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  font-size: 1.6rem;
  background: #333;
}

a {
  text-decoration: none;
  color: #eee;
}

ul {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */