@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: auto;
}

@mixin bgc--dark {
  background: $color-dark;
  color: $color-light;
}

@mixin bgc--light {
  background: $color-light;
  color: $color-dark;
}

@mixin bgc--red {
  background: $color-red;
  color: $color-dark;
}

@mixin transition {
  transition: .2s ease-out;
}

@mixin borderStyle {
  border-radius: 0 20px 0 20px;
}


@mixin mqPhone {
  @media only screen and (max-width: 500px) {
    @content;
  }
}

@mixin mqTablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin mqLaptop {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin mqWide {
  @media only screen and (max-width: 1920px) {
    @content;
  }
}

@mixin mqLand {
  @media only screen and (max-height:500px) {
    @content;
  }
}