.offer {
  margin: 5rem 0;

  &-content {
    @include container;
    display: flex;
    // justify-content: center;
    // align-items: center;
  }
}

.box {
  @include borderStyle;
  @include bgc--light;
  margin: 0 2rem;
  padding: 2rem;
  text-align: center;

  &:nth-child(2) {
    @include bgc--red;
  }
}

.box span {
  display: block;
  margin: 2rem 0;
}