.about {
  @include bgc--light;

  &-content {
    @include container;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
}

.info-left {
  flex-basis: 40%;
}

.info-right {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 80%;
    border-radius: 5px;
  }
}