.heading {
  padding-bottom: 20px;
}

.heading--primary {
  font-size: 6rem;
}

.heading--secondary {
  font-size: 3rem;
}

.heading--tertiary {
  font-size: 2.5rem;
}

.paragraph {
  font-size: 1.6rem;
  margin: 10px 0;
}